In [1]:
import os, sys
from pathlib import Path


BASE_DIR = Path.cwd().parent
sys.path.append(str(BASE_DIR))

In [2]:
import src.character_analysis as ca

path = BASE_DIR / "data" / "processed" / "the_count_of_monte_christo_clean.json"
df = ca.load_book_json(path)
df.head()

   chapter  segment                                               text
0        1        0                  Chapter 1. Marseilles—The Arrival
1        1        1  On the 24th of February, 1815, the look-out at...
2        2        0                          Chapter 2. Father and Son
3        2        1  We will leave Danglars struggling with the dem...
4        3        0                            Chapter 3. The Catalans

In [3]:
df_sent = ca.split_to_sentences(df)

In [5]:
characters = {
    "Dantes": [
        "Dantès",
        "Dantes",                  
        "Edmond Dantès",
        "Count of Monte Cristo",
        "Monte Cristo",
    ],
    "Mercedes": ["Mercédès", "Mercedes"],
    "Fernand": ["Fernand", "Fernand Mondego"],
    "Danglars": ["Danglars"],
    "Villefort": ["Villefort",
    "M. de Villefort",
    "Monsieur de Villefort",
    "Royal Prosecutor",     
    "Procureur du Roi"],
    "Faria": ["Abbé Faria", "Faria"],
}

df_sent = ca.add_character_columns(df_sent, characters)

In [6]:
co_matrix, co_df = ca.build_cooccurence(df_sent, characters)

In [7]:
ca.cooccurence_heatmap(co_df, characters, "Character co-occurence", BASE_DIR / "plots" / "cmc_releationship_heatmap.png")

In [8]:
ca.character_mentions_barplot(df_sent, characters, "Monte Cristo – Character Mentions", BASE_DIR / "plots" / "cmc_character_mentions")